body {
    background: #FFFFFF;
}
.menu-list li {
    display: inline;
}
.header-main-container {
}
.menu-header-left div {
    display: inline;
}
.promo-section {
    height: 160px;
    background: linear-gradient(90deg, #414141 0.44%, #414141 3.7%, #727272 8.98%, rgba(196, 196, 196, 0) 13.49%, rgba(49, 49, 49, 0) 29%, rgba(72, 72, 72, 0.99) 30.88%, rgba(128, 128, 128, 0.72) 100%);
}
footer {
    background: #E5E5E5;
    height: 190px;
}

.footer-text {
    font-family: Roboto Condensed, serif;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    opacity: 0.5;
}

.footer-position{
    top: 23px;
}

.four-section{
    width: 540px;
    height: 160px;

    background: url(images/womanshoes.jpg);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}




