<!DOCTYPE html>
<html lang="en">
<head>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">-->
<!--    <link rel="stylesheet" href="/css/style.css" >-->
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<footer>
    <div class="ui container">
        <div class="ui grid">
            <div class="four wide column">
                <h4>Каталог</h4>
                <div class="ui link list">
                    <a class="item" href="#">Ортопедичне взуття</a>
                    <a class="item" href="#">Анатомічне взуття</a>
                    <a class="item" href="#">Компресійний трикотаж</a>
                    <a class="item" href="#">Устілки та вставки</a>
                    <a class="item" href="#">Розпродаж</a>
                </div>
            </div>
            <!--/.col-md-3-->
            <div class="four wide column">
                <h4>Покупцям</h4>
                <div class="ui link list">
                    <a class="item" href="#">Про нас</a>
                    <a class="item" href="#">Блог</a>
                    <a class="item" href="#">Доставка</a>
                    <a class="item" href="#">Оплата</a>
                </div>
            </div>
            <!--/.col-md-3-->
            <div class="four wide column">
                <h4>Контакти</h4>
                <div class="ui link list">
                    <a class="item">+38 (067) 342 34 54</a>
                    <a class="item" href="#">ortobotic.com</a>
                    <button class="ui circular facebook icon button">
                        <a class="item" href="#!"><i class="facebook icon"></i></a>
                    </button>
                    <button class="ui circular instagram icon button">
                        <a class="item" href="#!"><i class="instagram icon"></i></a>
                    </button>
                </div>
            </div>
            <!--/.col-md-3-->
            <div class="four wide column">
                <h4>Телефонуйте нам</h4>
                <div class="ui link list">
                    <a class="item">З 8:00 до 18:00 (Пн-Птн)</a>
                    <a class="item">Сб та Нд-вихідні</a>
                    <a class="item">Замовлення на сайті цілодобово</a>
                </div>
            </div>
            <!--/.col-md-3-->
        </div>
    </div>
</footer>
</body>
</html>