<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!--    <script src="js/internationalization.js"></script>-->
<!--    <script src="js/dropdownselect.js"></script>-->
<!--    <link rel="stylesheet" href="css/style.css" >-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<header class="ui grid three column row">
    <div class="ui container grid three column row">
        <div class="menu-header-left column left aligned middle aligned content">

            <div class="menu-burger ui ">
                <div class="ui dropdown icon item">
                    <i class="bars icon"></i>
                    <div class="menu">
                        <div class="item"><i class="edit icon"></i>Edit User</div>
                        <div class="item"><i class="delete icon"></i>Remove User</div>
                        <div class="item"><i class="hide icon"></i>Make Invisible</div>
                    </div>
                </div>


                <select name="combo" class="ui icon dropdown item" id="locales">
                    <i class="language icon"></i>
                    <option value="change" th:text="#{language.change}"></option>
                    <option value="ru" th:text="#{lang.ru}"></option>
                    <option value="ua" th:text="#{lang.ua}"></option>
                </select>



            </div>
        </div>
            <a href="/index">
            <div class="logo column center aligned">
                <img src="/images/logo.jpg" alt="logo" width="185px">
            </div>
            <a/>
            <div class="menu-header-right column right aligned">
                <ul class="menu-list">
                    <button class="ui icon button">
                        <li sec:authorize="isAuthenticated()"><a href="/login"><i class="sign in alternate icon"></i></a></li>
<!--                                            <span sec:authorize="isAuthenticated()" th:utext="${user}"><a href="/login"><i class="sign in alternate icon"></i></a></span>-->


                    </button>
                    <button class="ui icon button">
                        <li><i class="heart outline icon"></i></li>
                    </button>
                    <button class="ui icon button">
                        <li><a href="/shop/cart"><i class="shopping bag icon"></i></a></li>
                    </button>
                    <button class="ui icon button">
                        <li><a href="#"><i class="search icon"></i></a></li>
                    </button>
                </ul>
            </div>
            </a>
    </div>
</header>
</body>
</html>