<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link rel="stylesheet" href="css/style.css" >
    <script src="js/dropdown.js"></script>
    <script src="js/internationalization.js"></script>
    <title>ortobotik</title>
</head>
<body>
<div class="ui container">
    <div th:replace="header :: header"></div>
    <nav>
        <div class="ui container">
            <div class="ui divider"></div>
            <div class="ui secondary menu large center aligned grid">

                <div class="ui dropdown">
                    <div class="item active"><span th:text="#{orto.lable}"></span></div>
                    <div class="menu">
                        <div class="item">Чоловіче ортопедичне взуття</div>
                        <div class="item">Жіноче ортопедичне взуття</div>
                        <div class="item">Дитяче ортопедичне взуття</div>
                        <div class="item">Для дому і дитячого садочку</div>
                        <div class="item">Медичне і професійне взуття</div>
                        <div class="item">Розпродаж</div>
                    </div>
                </div>

                <div class="ui dropdown">
                    <div class="item active">Анатомічне взуття</div>
                    <div class="menu">
                        <div class="item">Чоловіче анатомічне взуття</div>
                        <div class="item">Жіноче анатомічне взуття</div>
                        <div class="item">Дитяче анатомічне взуття</div>
                        <div class="item">Для дому і дитячого садочку</div>
                        <div class="item">Медичне і професійне взуття</div>
                        <div class="item">Розпродаж</div>
                    </div>
                </div>

                <a class="item active">Компресійний трикотаж</a>
                <a class="item active">Устілки та вставки</a>
                <a class="item active">Розпродаж</a>
            </div>
            <div class="ui divider"></div>
        </div>
    </nav>
    <main>
        <div class="promo-section">

        </div>
        <div class="ui divider"></div>
        <div class="content-main">
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="ui raised very padded text segment center aligned four-section">
                        <h1 class="ui header ">Жіноче взуття</h1>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui raised very padded text segment center aligned four-section">
                        <h1 class="ui header">Дитяче взуття</h1>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui raised very padded text segment center aligned four-section">
                        <h1 class="ui header">Чоловіче взуття</h1>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui raised very padded text segment center aligned four-section">
                        <h1 class="ui header">Ортопедичні товари</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
    </main>
    <div th:replace="footer :: footer"></div>
</div>
</body>
</html>